.getAddyForm h1 {
  color: rgb(53, 7, 96);
  text-align: center;
}

.getAddyForm form {
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
}

.getAddyForm label {
  color: rgb(53, 7, 96);
}

.getAddyForm input {
  width: 250px;
  border-radius: 20px;
  border: 1px solid rgb(53, 7, 96);
  padding: 10px 20px;
}

.getAddyForm button {
  border-radius: 20px;
  color: white;
  background-color: rgb(53, 7, 96);
  border: 1px solid rgb(53, 7, 96);
  padding: 10px 20px;
  cursor: pointer;
}

.getAddyForm button:hover {
  background-color: rgb(102, 13, 185);
}

.result,
.previousBalance {
  text-align: center;
  margin-top: 50px;
}

.whichRange {
  display: flex;
  column-gap: 20px;
  justify-content: center;
  margin-bottom: 50px;
}

.chart {
  display: flex;
  justify-content: center;
  width: 90%;
}
