.svg {
  background-color: rgb(0, 0, 0);
}

.marks line {
  stroke-width: 1px;
  stroke: black;
}

.axis-label {
  font-size: 16px;
  text-anchor: middle;
}


.axis text {
  font-size: 12px;
  text-anchor: end;
  fill: black;
}
